<table *ngIf="!Filter">
  <tr>
    <th *ngFor = "let x of ['Name','Email','Cell Number','Age','Address','Course Count']">{{x}}</th>
  </tr>
  <tr *ngFor = "let y of students">
    <td>{{y.name}}</td>
    <td>{{y.email}}</td>
    <td>{{y.cellno}}</td>
    <td>{{y.age}}</td>
    <td>{{y.address}}</td>
    <td>{{y.courselist.length}}</td>
    <button (click)="onEdit(y.id)">Edit</button>
    <button (click)="onDelete(y.id)">Delete</button>
  </tr>
  
</table>

<table *ngIf="Filter? onFilter() : false">
  <tr>
    <th *ngFor = "let x of ['Name','Email','Cell Number','Age','Address','Course Count']">{{x}}</th>
  </tr>
  <tr *ngFor = "let y of filter">
    <td>{{y.name}}</td>
    <td>{{y.email}}</td>
    <td>{{y.cellno}}</td>
    <td>{{y.age}}</td>
    <td>{{y.address}}</td>
    <td>{{y.courselist.length}}</td>
    <button (click)="onEdit(y.id)">Edit</button>
    <button (click)="onDelete(y.id)">Delete</button>
  </tr>
  
</table>
