<h1>Welcome to Student Management System</h1>
<div class="row">
    <div class="dropdown">
        <button class="dropbtn">Student</button>
        <div class="dropdown-content">
          <a [routerLink]="'add-student'">Add Student</a>
          <a [routerLink]="'student-list'">Show Student Listing</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Courses</button>
        <div class="dropdown-content">
          <a [routerLink]="'add-course'">Add Course</a>
          <a [routerLink]="'course-list'">Show Course Listing</a>
        </div>
      </div>
</div>
<router-outlet></router-outlet>

