<div>
    <form [formGroup] = "addcourse"  *ngIf = "AddorEdit === 'add'"   (ngSubmit) ="onSubmit()">
        <label for="name">Full Course Name</label>
        <input type="text" id="name" formControlName = "name" name="name">
        <div><span *ngIf="!addcourse.get('name')?.valid && addcourse.get('name')?.touched" class="help-block">please enter valid name</span></div>
        <label for="credithour">Credit Hours</label>
        <input type="text" id="credithour" formControlName = "credithour" name="credithour">
        <div><span *ngIf="!addcourse.get('credithour')?.valid && addcourse.get('credithour')?.touched" class="help-block">please enter valid credit-hour: 1,2,3</span></div>
        <label for="lab">Did this Course have any lab?</label>
        <input type="text" id="lab" formControlName = "lab" name="lab">
        <div><span *ngIf="!addcourse.get('lab')?.valid && addcourse.get('lab')?.touched" class="help-block">please enter true/false</span></div>
        <label for="subject">Subject</label>
        <input type="text" id="subject" formControlName = "subject" name="subject">
        <div><span *ngIf="!addcourse.get('subject')?.valid && addcourse.get('subject')?.touched" class="help-block">please enter a valid subject: science , arts , history</span></div>
        <button type="submit">Submit</button>
    </form>
    </div>
    
    <div>
        <form [formGroup] = "addcourse"  *ngIf = "AddorEdit === 'edit'"   (ngSubmit) ="onUpdate()">
            <label for="name">Full Course Name</label>
            <input type="text" id="name" formControlName = "name" name="name">
            <div><span *ngIf="!addcourse.get('name')?.valid && addcourse.get('name')?.touched" class="help-block">please enter valid name</span></div>
            <label for="credithour">Credit Hours</label>
            <input type="text" id="credithour" formControlName = "credithour" name="credithour">
            <div><span *ngIf="!addcourse.get('credithour')?.valid && addcourse.get('credithour')?.touched" class="help-block">please enter valid credit-hour: 1,2,3</span></div>
            <label for="lab">Did this Course have any lab?</label>
            <input type="text" id="lab" formControlName = "lab" name="lab">
            <div><span *ngIf="!addcourse.get('lab')?.valid && addcourse.get('lab')?.touched" class="help-block">please enter true/false</span></div>
            <label for="subject">Subject</label>
            <input type="text" id="subject" formControlName = "subject" name="subject">
            <div><span *ngIf="!addcourse.get('subject')?.valid && addcourse.get('subject')?.touched" class="help-block">please enter a valid subject: science , arts , history</span></div>
            <button type="submit">Update</button>
        </form>
        </div>
        
      